<mat-card class="forecast-card">
    <mat-card-header>
        <mat-card-title>Forecast</mat-card-title>
        <mat-card-subtitle>Let's predict the weather!</mat-card-subtitle>
    </mat-card-header>

      <mat-card-content>
        <mat-form-field appearance="fill" class="input-field" aria-required="true">
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="city" placeholder="Enter city name" required (keydown.enter)="onEnterKey($event)">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input-field" aria-required="true">
            <mat-label>No. of Days</mat-label>
            <input matInput [(ngModel)]="noOfDays" type="number" placeholder="Enter No. of Days to Forecast" min="1" required (keydown.enter)="onEnterKey($event)">
        </mat-form-field>
    
        <button mat-raised-button color="primary" (click)="getForecast()" [disabled]="!city || !noOfDays">Get Forecast</button>
    
        <mat-card *ngIf="forecastData" class="forecast-info">
            <mat-card-header>
                <div class="noOfDaysMessage">{{noOfDays}}-day Weather forecast for {{city}}</div>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let day of forecastData.forecast.forecastday">
                    <mat-card>
                        <mat-card-header>
                            <div class="date">{{day.date}}</div>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Temperature (in °C): {{day.day.avgtemp_c}} °C</p>
                            <p>Temperature (in F): {{day.day.avgtemp_f}}</p>
                            <p>Condition: {{day.day.condition.text}}</p>
                            <img [src]="day.day.condition.icon" alt="weather icon">
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    
        <!-- Display error message only when showError is true -->
        <div *ngIf="showError" class="error-message">
          <p>No forecast data found for the specified city. Please try again.</p>
        </div>
      </mat-card-content>
</mat-card>
