.forecast-card {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: lightslategray;
    opacity: 0.4;
    align-items: center;
  }

  .forecast-card:hover {
    opacity: 1;
    background-color: darkgray ;
  }

  .forecast-card mat-card-title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    margin: 10%;
    text-align: center;
  }

  .forecast-card mat-card-subtitle {
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-card {
    margin-top: 20px;
  }
  
  button[disabled] {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
  }

  .date {
    color: blueviolet;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    font-weight: bold;
    margin: 5%;
    font-size: 20px;
  }

  .noOfDaysMessage {
    color: blue;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    justify-content: space-evenly;
  }
  