<header class="header">
    <p class="logo">About Us</p>
</header>
<main class="main">
    <p class="content">Mausam Weather App is an Angular app developed by me as a personal project to brush up my Angular framework skills.
        The Web App is developed using Angular 18 and contains features availble in newer Angular versions such as standalone Components
        bootstrapping and Dependency Injection.
    </p>
    <p class="aboutApp">The app allows users to view current weather for any city around the world or see a forecast for any city for any given 
        number of days.
        More features will be added on the go as I learn and evolve my framework knowledge.
    </p>
    <br><br>
    <h1 class="contactHeader">Contact Details:</h1>
    <p class="contactDetails">Mob: 8482050521<br>Email: shrikant.work2016<code>&#64;</code>gmail.com</p>
</main>
