
<mat-sidenav-container class="sidenav-container">
    <!-- Sidenav (Menu) -->
    <mat-sidenav #sidenav mode="over" class="sidenav">
        <mat-nav-list>
            <mat-list-item (click)="selectOption('weather'); sidenav.close()">Weather</mat-list-item>
            <mat-list-item (click)="selectOption('forecast'); sidenav.close()">Forecast</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content Area -->
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
            </button>
            <span>Mausam</span>
        </mat-toolbar>

        <!-- Conditionally Render Components Based on Selected Option -->
        <div *ngIf="selectedOption === 'weather'">
            <app-weather></app-weather> <!-- Weather Component -->
        </div>
        <div *ngIf="selectedOption === 'forecast'">
            <app-forecast></app-forecast> <!-- Forecast Component -->
        </div>

        <!-- Footer Section -->
        <div class="app-footer">
            <p>&copy; 2024 Weather Monitor. All rights reserved.</p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  